{% include header.html %}
    {% include nav.html %}
    <div class="container">

      <div class="col-sm-8">
         
      </div>


      <div class="col-sm-3 col-sm-offset-1 blog-sidebar" id="custom-toc-container">
        <div class="sidebar-module sidebar-module-inset">
          <h4>标签</h4>
          <span class="label label-default">PHP</span>
        </div>

        <div class="sidebar-module">
          <h4>历史</h4>
          <ol class="list-unstyled">
            <li><a href="#">2018-09-01</a></li>
          </ol>
        </div>

        <div class="sidebar-module">
          <h4>关注</h4>
          <ol class="list-unstyled">
            <li><a href="https://github.com/pennilessfor" target="_blank">GitHub</a></li>
          </ol>
        </div>

      </div>

    </div>
{% include footer.html %}